@tailwind base;
@tailwind components;
@tailwind utilities;

.navdiv {
  display: none;
}
li:hover .navdiv {
  display: flex;
}

@media only screen and (min-width: 600px) {
  .nonefeat {
    display: none;
  }
}

#navid1 {
  display: none;
}

#navid2 {
  display: none;
}

#navid3 {
  display: none;
}
